# Regression Exercise 

California Housing Data

This data set contains information about all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area. 

The task is to aproximate the median house value of each block from the values of the rest of the variables. 

 It has been obtained from the LIACC repository. The original page where the data set can be found is: http://www.liaad.up.pt/~ltorgo/Regression/DataSets.html.

The Features:
 
* housingMedianAge: continuous. 
* totalRooms: continuous. 
* totalBedrooms: continuous. 
* population: continuous. 
* households: continuous. 
* medianIncome: continuous. 
* medianHouseValue: continuous.

## The Data

** Import the cal_housing_clean.csv file with pandas. Separate it into a training (70%) and testing set(30%).**

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('cal_housing_clean.csv')

In [2]:
df.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [3]:
df.describe()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,28.639486,2635.763081,537.898014,1425.476744,499.539680,3.870671,206855.816909
std,12.585558,2181.615252,421.247906,1132.462122,382.329753,1.899822,115395.615874
min,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,18.000000,1447.750000,295.000000,787.000000,280.000000,2.563400,119600.000000
50%,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X = df.drop(labels='medianHouseValue',axis=1)
y = df.medianHouseValue


X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.3)

### Scale the Feature Data

** Use sklearn preprocessing to create a MinMaxScaler for the feature data. Fit this scaler only to the training data. Then use it to transform X_test and X_train. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.**

In [6]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler().fit(X_train)

In [16]:
X_train_scaled = pd.DataFrame(scaler.transform(X_train),columns=X_train.columns,index=X_train.index)
X_test_scaled = pd.DataFrame(scaler.transform(X_test),columns=X_test.columns,index=X_test.index)

In [17]:
X_train_scaled.describe()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
count,14448.000000,14448.000000,14448.000000,14448.000000,14448.000000,14448.000000
mean,0.542808,0.069378,0.083533,0.049891,0.082222,0.232079
std,0.247145,0.057983,0.066238,0.039551,0.063815,0.131606
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.333333,0.037887,0.045624,0.027483,0.045881,0.141853
50%,0.549020,0.055868,0.067349,0.040682,0.067094,0.208466
75%,0.705882,0.082918,0.100248,0.060148,0.098997,0.292358
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
y_train.describe()

count     14448.000000
mean     206385.588801
std      115039.331099
min       14999.000000
25%      119575.000000
50%      179500.000000
75%      263800.000000
max      500001.000000
Name: medianHouseValue, dtype: float64

### Create Feature Columns

** Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns. **

In [9]:
import tensorflow as tf

print(df.columns)

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [10]:
Age = tf.feature_column.numeric_column('housingMedianAge')
Rooms = tf.feature_column.numeric_column('totalRooms')
Bedrooms = tf.feature_column.numeric_column('totalBedrooms')
Population = tf.feature_column.numeric_column('population')
Households = tf.feature_column.numeric_column('households')
Income = tf.feature_column.numeric_column('medianIncome')
HouseValue = tf.feature_column.numeric_column('medianHouseValue')

In [11]:
feat_cols = [Age,Rooms,Bedrooms,Population,Households,Income]

** Create the input function for the estimator object. (play around with batch_size and num_epochs)**

In [ ]:
#Training for 5 epochs on a 1000 samples 10 samples per batch will take 500 steps.

In [63]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train_scaled,y=y_train,batch_size=10,num_epochs=1000,shuffle=True)

** Create the estimator model. Use a DNNRegressor. Play around with the hidden units! **

In [84]:
model = tf.estimator.DNNRegressor(hidden_units=[12,12,6],feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\XUANKA~1\AppData\Local\Temp\tmpqnfn3xio
INFO:tensorflow:Using config: {'_tf_random_seed': 1, '_save_checkpoints_steps': None, '_keep_checkpoint_max': 5, '_log_step_count_steps': 100, '_keep_checkpoint_every_n_hours': 10000, '_save_summary_steps': 100, '_model_dir': 'C:\\Users\\XUANKA~1\\AppData\\Local\\Temp\\tmpqnfn3xio', '_session_config': None, '_save_checkpoints_secs': 600}

##### ** Train the model for ~1,000 steps. (Later come back to this and train it for more and check for improvement) **

In [85]:
model.train(input_fn=input_func,steps=1000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\XUANKA~1\AppData\Local\Temp\tmpqnfn3xio\model.ckpt.
INFO:tensorflow:loss = 6.35587e+11, step = 1
INFO:tensorflow:global_step/sec: 682.333
INFO:tensorflow:loss = 3.05091e+11, step = 101 (0.153 sec)
INFO:tensorflow:global_step/sec: 686.866
INFO:tensorflow:loss = 4.61421e+11, step = 201 (0.143 sec)
INFO:tensorflow:global_step/sec: 618.939
INFO:tensorflow:loss = 7.25667e+11, step = 301 (0.160 sec)
INFO:tensorflow:global_step/sec: 615.099
INFO:tensorflow:loss = 2.29563e+11, step = 401 (0.163 sec)
INFO:tensorflow:global_step/sec: 604.028
INFO:tensorflow:loss = 4.73002e+11, step = 501 (0.166 sec)
INFO:tensorflow:global_step/sec: 626.653
INFO:tensorflow:loss = 5.29359e+11, step = 601 (0.160 sec)
INFO:tensorflow:global_step/sec: 659.711
INFO:tensorflow:loss = 1.10146e+11, step = 701 (0.153 sec)
INFO:tensorflow:global_step/sec: 522.214
INFO:tensorflow:loss = 1.5914e+11, step = 801 (0.193 sec)
INFO:tensorflow:global_step/sec: 443.669
INFO:tensorflow:loss = 7.19234e+10, step = 901 (0.224 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\XUANKA~1\AppData\Local\Temp\tmpqnfn3xio\model.ckpt.
INFO:tensorflow:Loss for final step: 1.3225e+11.

** Create a prediction input function and then use the .predict method off your estimator model to create a list or predictions on your test data. **

In [86]:
preds_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test_scaled,
      batch_size=10,
      num_epochs=1,
      shuffle=False)

In [87]:
y_preds = np.array([p['predictions'][0] for p in model.predict(preds_input_func)])

INFO:tensorflow:Restoring parameters from C:\Users\XUANKA~1\AppData\Local\Temp\tmpqnfn3xio\model.ckpt-1000

** Calculate the RMSE. You should be able to get around 100,000 RMSE (remember that this is in the same units as the label.) Do this manually or use [sklearn.metrics](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html) **

In [88]:
RMSE = np.sqrt(np.mean((np.array(y_test) - y_preds)**2))
print(RMSE)

110069.458026

# Great Job!