# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('census_data.csv')

In [2]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,32561.0,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
education_num,32561.0,10.080679,2.572720,1.0,9.0,10.0,12.0,16.0
capital_gain,32561.0,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital_loss,32561.0,87.303830,402.960219,0.0,0.0,0.0,0.0,4356.0
hours_per_week,32561.0,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
y = df.income_bracket.apply(lambda x: 1 if(x.strip()=='>50K') else 0)

In [5]:
X = df.drop('income_bracket',axis=1)

In [6]:
X.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

### Perform a Train Test Split on the Data

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.3)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [8]:
import tensorflow as tf

df.dtypes

age                int64
workclass         object
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income_bracket    object
dtype: object

** Import Tensorflow **

In [9]:
print(X.select_dtypes(include=['object']).nunique())
print('\n')

for v in X.select_dtypes(include=['object']).columns:
    cmd = (v + "=tf.feature_column.categorical_column_with_hash_bucket('" + 
         v + "',hash_bucket_size=X['" +
         v + "'].nunique())")
    exec(cmd)
    
    cmd = ("embedded_%s = tf.feature_column.embedding_column(%s, dimension=%s.hash_bucket_size)" % (v,v,v))
    exec(cmd)
    
    print('tensorflow variable ' + v + ' embedded')

workclass          9
education         16
marital_status     7
occupation        15
relationship       6
race               5
gender             2
native_country    42
dtype: int64


tensorflow variable workclass embedded
tensorflow variable education embedded
tensorflow variable marital_status embedded
tensorflow variable occupation embedded
tensorflow variable relationship embedded
tensorflow variable race embedded
tensorflow variable gender embedded
tensorflow variable native_country embedded

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [10]:
print(X.select_dtypes(exclude=['object']).nunique())
print('\n')


for v in X.select_dtypes(exclude=['object']).columns:
    cmd = (v + "=tf.feature_column.numeric_column('" + 
         v + "')")
    exec(cmd)
    #print(cmd)
    print('tensorflow variable ' + v + ' generated')

age                73
education_num      16
capital_gain      119
capital_loss       92
hours_per_week     94
dtype: int64


tensorflow variable age generated
tensorflow variable education_num generated
tensorflow variable capital_gain generated
tensorflow variable capital_loss generated
tensorflow variable hours_per_week generated

** Create the continuous feature_columns for the continuous values using numeric_column **

In [11]:
num_cols = [eval(x.replace("'",'')) for x in X.select_dtypes(exclude=['object']).columns]
cat_cols = [eval('embedded_' + x.replace("'",'')) for x in X.select_dtypes(include=['object']).columns]

feat_cols = num_cols + cat_cols

** Put all these variables into a single list with the variable name feat_cols **

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [21]:
from sklearn.preprocessing import MinMaxScaler

# X_train_old = X_train
# X_test_old = X_test

scaler = MinMaxScaler()

for v in X.select_dtypes(exclude=['object']).columns:
    scl = scaler.fit(X_train[v].values.reshape(-1, 1))
    X_train[v] = scl.transform(X_train[v].values.reshape(-1, 1))
    X_test[v] = scl.transform(X_test[v].values.reshape(-1, 1))

C:\Users\Xuan Kai\Anaconda3\envs\tfdl\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Xuan Kai\Anaconda3\envs\tfdl\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Xuan Kai\Anaconda3\envs\tfdl\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [24]:
X_test.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,9769.0,0.295609,0.187489,0.0,0.136986,0.273973,0.424658,1.000000
education_num,9769.0,0.603869,0.171574,0.0,0.533333,0.600000,0.733333,1.000000
capital_gain,9769.0,0.011172,0.074550,0.0,0.000000,0.000000,0.000000,1.000000
capital_loss,9769.0,0.019795,0.091647,0.0,0.000000,0.000000,0.000000,0.865473
hours_per_week,9769.0,0.402844,0.126917,0.0,0.397959,0.397959,0.448980,1.000000

In [25]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=10,num_epochs=1000,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [44]:
dnn_model = tf.estimator.DNNClassifier(hidden_units=[30,15],feature_columns=feat_cols,n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\XUANKA~1\AppData\Local\Temp\tmp5p32kh0u
INFO:tensorflow:Using config: {'_save_checkpoints_secs': 600, '_log_step_count_steps': 100, '_tf_random_seed': 1, '_save_checkpoints_steps': None, '_save_summary_steps': 100, '_keep_checkpoint_every_n_hours': 10000, '_keep_checkpoint_max': 5, '_model_dir': 'C:\\Users\\XUANKA~1\\AppData\\Local\\Temp\\tmp5p32kh0u', '_session_config': None}

** Train your model on the data, for at least 5000 steps. **

In [45]:
dnn_model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\XUANKA~1\AppData\Local\Temp\tmp5p32kh0u\model.ckpt.
INFO:tensorflow:step = 1, loss = 7.0397
INFO:tensorflow:global_step/sec: 276.229
INFO:tensorflow:step = 101, loss = 4.58617 (0.366 sec)
INFO:tensorflow:global_step/sec: 388.211
INFO:tensorflow:step = 201, loss = 6.41352 (0.256 sec)
INFO:tensorflow:global_step/sec: 398.197
INFO:tensorflow:step = 301, loss = 5.58139 (0.251 sec)
INFO:tensorflow:global_step/sec: 378.028
INFO:tensorflow:step = 401, loss = 7.00755 (0.267 sec)
INFO:tensorflow:global_step/sec: 404.576
INFO:tensorflow:step = 501, loss = 6.20973 (0.246 sec)
INFO:tensorflow:global_step/sec: 391.389
INFO:tensorflow:step = 601, loss = 3.4418 (0.255 sec)
INFO:tensorflow:global_step/sec: 346.845
INFO:tensorflow:step = 701, loss = 4.31843 (0.289 sec)
INFO:tensorflow:global_step/sec: 281.427
INFO:tensorflow:step = 801, loss = 2.33347 (0.355 sec)
INFO:tensorflow:global_step/sec: 352.264
INFO:tensorflow:step = 901, loss = 3.57138 (0.284 sec)
INFO:tensorflow:global_step/sec: 343.523
INFO:tensorflow:step = 1001, loss = 3.86624 (0.290 sec)
INFO:tensorflow:global_step/sec: 387.915
INFO:tensorflow:step = 1101, loss = 4.94802 (0.259 sec)
INFO:tensorflow:global_step/sec: 319.773
INFO:tensorflow:step = 1201, loss = 2.30415 (0.311 sec)
INFO:tensorflow:global_step/sec: 342.594
INFO:tensorflow:step = 1301, loss = 1.54908 (0.292 sec)
INFO:tensorflow:global_step/sec: 425.287
INFO:tensorflow:step = 1401, loss = 5.59664 (0.237 sec)
INFO:tensorflow:global_step/sec: 456.75
INFO:tensorflow:step = 1501, loss = 3.5009 (0.218 sec)
INFO:tensorflow:global_step/sec: 449.786
INFO:tensorflow:step = 1601, loss = 2.91586 (0.223 sec)
INFO:tensorflow:global_step/sec: 442.672
INFO:tensorflow:step = 1701, loss = 2.64312 (0.225 sec)
INFO:tensorflow:global_step/sec: 412.026
INFO:tensorflow:step = 1801, loss = 3.96062 (0.244 sec)
INFO:tensorflow:global_step/sec: 309.111
INFO:tensorflow:step = 1901, loss = 2.91406 (0.322 sec)
INFO:tensorflow:global_step/sec: 411.742
INFO:tensorflow:step = 2001, loss = 4.23041 (0.243 sec)
INFO:tensorflow:global_step/sec: 305.74
INFO:tensorflow:step = 2101, loss = 4.11152 (0.331 sec)
INFO:tensorflow:global_step/sec: 358.633
INFO:tensorflow:step = 2201, loss = 2.72968 (0.277 sec)
INFO:tensorflow:global_step/sec: 296.683
INFO:tensorflow:step = 2301, loss = 2.51219 (0.338 sec)
INFO:tensorflow:global_step/sec: 355.665
INFO:tensorflow:step = 2401, loss = 4.66313 (0.279 sec)
INFO:tensorflow:global_step/sec: 427.939
INFO:tensorflow:step = 2501, loss = 2.89359 (0.234 sec)
INFO:tensorflow:global_step/sec: 443.147
INFO:tensorflow:step = 2601, loss = 4.35127 (0.225 sec)
INFO:tensorflow:global_step/sec: 447.002
INFO:tensorflow:step = 2701, loss = 4.96894 (0.223 sec)
INFO:tensorflow:global_step/sec: 427.828
INFO:tensorflow:step = 2801, loss = 1.66129 (0.234 sec)
INFO:tensorflow:global_step/sec: 440.391
INFO:tensorflow:step = 2901, loss = 5.535 (0.228 sec)
INFO:tensorflow:global_step/sec: 445.657
INFO:tensorflow:step = 3001, loss = 4.19788 (0.224 sec)
INFO:tensorflow:global_step/sec: 435.726
INFO:tensorflow:step = 3101, loss = 5.03558 (0.230 sec)
INFO:tensorflow:global_step/sec: 439.567
INFO:tensorflow:step = 3201, loss = 5.4618 (0.227 sec)
INFO:tensorflow:global_step/sec: 439.432
INFO:tensorflow:step = 3301, loss = 0.809961 (0.228 sec)
INFO:tensorflow:global_step/sec: 423.712
INFO:tensorflow:step = 3401, loss = 2.70171 (0.236 sec)
INFO:tensorflow:global_step/sec: 395.192
INFO:tensorflow:step = 3501, loss = 2.21137 (0.256 sec)
INFO:tensorflow:global_step/sec: 268.932
INFO:tensorflow:step = 3601, loss = 4.65968 (0.369 sec)
INFO:tensorflow:global_step/sec: 355.577
INFO:tensorflow:step = 3701, loss = 1.18876 (0.280 sec)
INFO:tensorflow:global_step/sec: 339.667
INFO:tensorflow:step = 3801, loss = 3.31342 (0.296 sec)
INFO:tensorflow:global_step/sec: 422.569
INFO:tensorflow:step = 3901, loss = 8.01901 (0.236 sec)
INFO:tensorflow:global_step/sec: 422.093
INFO:tensorflow:step = 4001, loss = 2.12645 (0.237 sec)
INFO:tensorflow:global_step/sec: 413.272
INFO:tensorflow:step = 4101, loss = 5.21705 (0.242 sec)
INFO:tensorflow:global_step/sec: 401.811
INFO:tensorflow:step = 4201, loss = 1.77395 (0.250 sec)
INFO:tensorflow:global_step/sec: 412.485
INFO:tensorflow:step = 4301, loss = 2.24963 (0.241 sec)
INFO:tensorflow:global_step/sec: 402.306
INFO:tensorflow:step = 4401, loss = 3.16802 (0.249 sec)
INFO:tensorflow:global_step/sec: 409.746
INFO:tensorflow:step = 4501, loss = 2.01692 (0.244 sec)
INFO:tensorflow:global_step/sec: 414.2
INFO:tensorflow:step = 4601, loss = 3.35172 (0.240 sec)
INFO:tensorflow:global_step/sec: 413.622
INFO:tensorflow:step = 4701, loss = 3.59752 (0.243 sec)
INFO:tensorflow:global_step/sec: 409.841
INFO:tensorflow:step = 4801, loss = 3.74043 (0.244 sec)
INFO:tensorflow:global_step/sec: 409.429
INFO:tensorflow:step = 4901, loss = 3.60459 (0.243 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\XUANKA~1\AppData\Local\Temp\tmp5p32kh0u\model.ckpt.
INFO:tensorflow:Loss for final step: 3.04724.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [28]:
preds_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test,
      batch_size=10,
      num_epochs=1,
      shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [41]:
next(dnn_model.predict(preds_input_func))

INFO:tensorflow:Restoring parameters from C:\Users\XUANKA~1\AppData\Local\Temp\tmp3a3x9jdc\model.ckpt-5000

{'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.45759031], dtype=float32),
 'logits': array([-0.17004724], dtype=float32),
 'probabilities': array([ 0.54240966,  0.45759031], dtype=float32)}

** Each item in your list will look like this: **

In [46]:
y_preds = np.array([p['class_ids'][0] for p in dnn_model.predict(preds_input_func)])

INFO:tensorflow:Restoring parameters from C:\Users\XUANKA~1\AppData\Local\Temp\tmp5p32kh0u\model.ckpt-5000

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [36]:
from sklearn.metrics import classification_report

In [47]:
print(classification_report(y_test, y_preds))

             precision    recall  f1-score   support

          0       0.85      0.93      0.89      7466
          1       0.68      0.48      0.56      2303

avg / total       0.81      0.82      0.81      9769

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

             precision    recall  f1-score   support

          0       0.88      0.92      0.90      7436
          1       0.70      0.59      0.64      2333

avg / total       0.84      0.84      0.84      9769

# Great Job!